
{% block middle %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='Images/gt.ico') }}">
    <title>GreenTips</title>
</head>

<body>
    <div class="tipgroup">
        <img class="logo" src="{{ url_for('static', filename='Images/GreenTips.svg') }}" alt="Logo">
        <p class="tip">{{ tip }}</p>
        <p class="date">{{ today }}</p>
    </div>
    <div class="pasttipgroup">
        <div class="ptipgroup">
            <p class="ptip">{{ ytip }}</p>
            <p>{{ fyesterday }}</p>
        </div>
        <div class="ptipgroup">
            <p class="ptip">{{ xytip }}</p>
            <p>{{ xfyesterday }}</p>
        </div>
        <div class="ptipgroup">
            <p class="ptip">{{ xxytip }}</p>
            <p>{{ xxfyesterday }}</p>
        </div>
        <div class="ptipgroup">
            <p class="ptip">{{ xxxytip }}</p>
            <p>{{ xxxfyesterday }}</p>
        </div>
    </div>
    
    <p class="subtitle">Test!</p>
    <p class="center">Scopriamo quali delle tue abitudini cambiare.</p>
    <div class="quiz">
        <form method="POST">
            <div class="content">
                <p class="ptip">{{qTitle}}</p>

                <input type="radio" name="quiz" value="1" required class="radio">
                <label for="1" class="quizButton">{{qOne}}</p>

                <input type="radio" name="quiz" value="2" required class="radio">
                <label for="2" class="quizButton">{{qTwo}}</p>

                {% if qThree != 'none' %}
                    <input type="radio" name="quiz" value="3" required class="radio">
                    <label for="3" class="quizButton">{{qThree}}</p>
                {% endif %}
                <button type="submit" class="submit">Invia</button>
                {% if text != "" %}
                    <p>{{ text }}</p>
                {% endif %}
            </div>
        </form>
    </div>
    
</body>
</html>
{% endblock %}
